@import "./base/reset"; 
@import "./utils/variables";
@import "./base/typography";
@import "./components/buttons";
*{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


header{
    border: 1px solid red;

}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-around;

&__left{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
&__mail{
    display: flex;
    align-items: center;
    gap: 10px;
}

}
&__right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__list{
        ul{
            display: flex;
            list-style-type: none;
            gap: 20px;
        }
    }
    &__login{
        display: flex;
        gap: 10px;
        
    }
}

}
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__search{
        button{
            font-size: $fontsize;
            max-width:$maxwidth;
            background: $background;
            border: $border;
        }
    }
}